<%- include('header'); -%>


<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="/" class="breadcrumb">CashMachine Service</a>
      <a href="/withdraw" class="breadcrumb">Withdraw Page</a>
      <a href="#!" class="breadcrumb">Result Page</a>
    </div>
</nav>

<h4>Result:</h4>
<ul class="collection">
  <% if(result.length!==0){
    var amount = 1;
    result.forEach(function(val,i){%>
  <%
    if(result[i+1]){
      if(val === result[i+1]){
        amount++;
      }else{ %>
  <li class="collection-item">
    <%=val%> x <%=amount%>
  </li>

  <%
    amount=1
      }
    }else{ %>
  <li class="collection-item">
    <%=val%> x <%=amount%>
  </li>
  <%
    amount=1
    }
    %>

  <%})%>
  <%}else{%>
  <li class="collection-item">
    Empty Set
  </li>
  <%}%>
    
</ul>
<a class="waves-effect waves-light btn-small" href="/withdraw">Back to Withdraw Page <i class="material-icons right">arrow_back</i></a>